<div id="information">
	
	<div id="bar"></div><!--end bar-->
	
	<div id="text">
		
		<div id="theform">
			<h2>Agregar nuevo Estado</h2>
			<%= render 'form' %>
		
		</div><!--end theform-->

	</div><!--end text-->

</div><!--end information-->