<div id="tabs">
	<ul>
		<li><%= link_to 'Hoteles', hotels_path, :class => 'selected' %></li>
        <li><%= link_to 'Reservaciones', reservations_path %></li>
		<li><a href="#">Estad&iacute;sticas</a></li>
	</ul>
</div><!--end tabs-->

