<div id="information">
	
	<div id="bar"></div><!--end bar-->
	
	<div id="text">
		<h2>Pruebas de busqueda de habitaciones</h2>

		<div id="theform">
			<%= render 'form' %>	
		</div><!--end theform-->

		<div id="results">
		<% if @rates %>
			<h2>Resultados de busqueda</h2>
            <%= render :partial => 'searches/rate', :collection => @rates, :locals => {:search  => @search } %>
		<% end %>
		</div><!--end searchresults-->

	</div><!--end text-->

</div><!--end information-->



