<div id="hotel-header">	
	
	<div class="thebutton">
		<p><%= link_to image_tag('agregar_nuevo_destino_button.gif', :alt => 'Agregar nuevo Destino'), new_destination_path %></p>
	</div><!--end thebutton-->			
	
</div><!--end hotel-header-->