<%= render 'shared/destination_tabs' %>

<div id="content">	
	
	<%= render 'search' %>
	
	<div id="information">
	
		<div id="bar"></div><!--end bar-->
	
		<div id="text">
		
			<div id="theform">
				<h2>Editar destino <%= @destination.city.name %></h2>
				<%= render 'form' %>
			</div><!--end theform-->
		 
		</div><!--end text-->
	
	</div><!--end information-->

</div><!--end content-->