<div id="bar">
	<ul>
		<li><%= link_to 'Información general', hotel_path(@hotel) %></li>
		<li><%= link_to 'Datos fiscales', hotel_fiscals_path(@hotel) %></li>
		<li><%= link_to 'Habitaciones', hotel_rooms_path(@hotel) %></li>
		<li>Comentarios</li>
		<li>Reservaciones</li>
	</ul>
</div><!--end bar-->